* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

.parent {
  height: 100vh;
  width: 100%;
  background: #111;
  padding: 30px;
  display: flex;
  gap: 30px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
  width: 300px;
  background-color: whitesmoke;
  border-radius: 30px;
  padding: 30px;
}

.card .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}

.top img {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  border: 1px solid #dadada;
  padding: 2px;
}

.top .btn {
  padding: 8px 10px;
  font-size: 12px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #dadada;
  border-radius: 5px;
  gap: 3px;
  background-color: transparent;
  color: #b1b1b1;
}

.center {
  margin-top: 22px;
}

.center h3 {
  font-size: 22px;
  font-weight: 400;
  margin: 12px 0;
}

.center h3 span {
  font-size: 12px;
  color: #b1b1b1;
}

.center h2 {
  font-size: 20px;
}

.center div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.center div h4 {
  background: #dadada;
  padding: 8px 12px;
  color: #111;
  font-size: 12px;
  border-radius: 8px;
  margin: 12px 0px;
  margin-right: 8px;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 2px solid #dadada;
  border-radius: 50%px;
  padding: 22px 0;
}

.bottom div h3 {
  color: #111;
  font-size: 18px;
}

.bottom div p {
  color: #b1b1b1;
  font-size: 14px;
}

.bottom button {
  padding: 8px 14px;
  background: #000;
  color: whitesmoke;
  border: none;
  border-radius: 12px;
  font-size: 16px;
}
