* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: whitesmoke;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background: #111;
}

.parent {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 300px;
  border: 1px solid white;
  padding: 20px;
  text-align: center;
  background: #222;
  border-radius: 12px;
}
.card img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  margin-bottom: 12px;
}

.card p {
  margin: 20px 0px;
}

.btn {
  padding: 10px 20px;
  background: whitesmoke;
  color: black;
  border: none;
  border-radius: 5px;
}
