.header {
  background-color: aquamarine;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  margin: 5px;
}

.btn {
  padding: 8px 12px;
  font-size: 16px;
  border: none;
  background: #4bd7ed;
  border-radius: 12px;

}
